<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=CustomerDb;Integrated Security=True;Trust Server Certificate=True" 
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="NameOfTheApp" value="Customer Application Project" />
		<add key="AddButton" value="Insert" />
		<add key="UpdateButton" value="Update" />
		<add key="DeleteButton" value="Remove" />

	</appSettings>
</configuration>